{% extends 'base.html.twig' %}

{% block body %}
    <h1>News</h1>
    {% form_theme edit_form 'form/szablonform.html.twig' %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}


        <input class="btn btn-default" type="submit" value="Edycja" />
    {{ form_end(edit_form) }}



            <a class="btn btn-default" href="{{ path('admin_news_index') }}">Powrót do listy</a>


            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Usuń">
            {{ form_end(delete_form) }}


{% endblock %}
