{% extends 'base.html.twig' %}

{% block body %}
    <h1>Foto list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Foto</th>
                <th>Title</th>
                <th>Userid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for foto in fotos %}
            <tr>
                <td><a href="{{ path('foto_show', { 'id': foto.id }) }}">{{ foto.id }}</a></td>
                <td>{{ foto.foto }}</td>
                <td>{{ foto.title }}</td>
                <td>{{ foto.userId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('foto_show', { 'id': foto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('foto_edit', { 'id': foto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('foto_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
