{% extends 'base.html.twig' %}

{% block body %}
    <h1>Foto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ foto.id }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ foto.foto }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ foto.title }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ foto.userId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('foto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('foto_edit', { 'id': foto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
